<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>DownDoc</title>
        <meta name="description" content="DownDoc" />
        <meta name="author" content="SitePoint" />

        <link rel="stylesheet" href="./_static/pure-min.css" />

        <style type="text/css">
            div.dd-card {
                background: white;
            }

            .pure-g {
                background: rgb(230, 230, 230);
            }

            div.dd-card {
                margin: 5pt;
                padding: 10pt;
                height: 90pt;
                text-align: center;
            }

            .dd-card-image {
                height: 30pt;
            }

            div.dd-card:hover {
                background-color: lightgray;
            }

            .dd-card-title {
                color: gray;
                font-size: 100%;
                font-weight: normal;
            }

            .hidden {
                display: none;
            }

            * {
                text-decoration: none;
            }

            .dd-search-field {
                padding: 5pt;
            }

            .dd-search-field input {
                width: 90%;
                border: 1px solid gray;
                padding: 3pt;
            }

            .dd-search-field button {
                height: 30%;
            }
        </style>

        <script type="text/javascript">
            function loadListeners() {
                let flt = document.getElementById("filter");
                let cards = document.getElementsByClassName("dd-card");
                let clear = document.getElementById("clear-search");
                clear.addEventListener("click", function () {
                    flt.value = "";
                    showCards(allCards);
                });
                allCards = Array.prototype.filter.call(cards, function (el) {
                    return el.nodeName === "A";
                });
                function showCard(card) {
                    card.className = "dd-card pure-u-1-5";
                    return card;
                }
                function hideCard(card) {
                    if ("hidden" in card.classList) return;
                    card.className = "hidden";
                    return card;
                }
                function showCards(cards) {
                    return cards.map(showCard);
                }
                function hideCards(cards) {
                    return cards.map(function (card) {
                        console.log(`hiding ${card}`);
                        return hideCard(card);
                    });
                }
                function isSubset(s1, s2) {
                    s1 = Array.from(new Set(s1)).sort();
                    s2 = Array.from(new Set(s2)).sort();
                    return s1.every((s) => s2.includes(s));
                }
                flt.addEventListener("keyup", function ($e) {
                    let val = $e.target.value.toLowerCase();
                    allCards = showCards(allCards);
                    cards = allCards;
                    if (!val || val.length == 0) {
                        return;
                    }

                    let chars = Array.from(new Set(val.split("")));

                    allCards.filter(function (card) {
                        let text = card.textContent
                            .toLowerCase()
                            .replaceAll(/[\n\s\t]/g, "");
                        let unique = Array.from(new Set(text.split("")));
                        let matches = isSubset(chars, unique);
                        if (matches) showCard(card);
                        else hideCard(card);
                    });
                });
            }
        </script>
    </head>

    <body onload="loadListeners()">
        <h1>DownDoc Documentation</h1>
        <div class="dd-search-field">
            <input type="search" class="pure-input-1" id="filter" />
            <button class="pure-button" id="clear-search">X</button>
        </div>
        <div class="pure-g">
            {% for doc_link in doc_links %}
            <a
                href="{{ doc_link.path }}{% if doc_link.type %}{% else %}/index.html{% endif %}"
                class="pure-u-1-5 dd-card"
            >
                <div class="dd-card">
                    {% if doc_link.image %}
                    <img src="{{ doc_link.image }}" class="dd-card-image" />
                    {% elif doc_link.type %}
                    <img
                        src="_static/{{doc_link.type}}.svg"
                        class="dd-card-image"
                    />
                    {% else %}
                    <img
                        src="_static/html.svg"
                        class="dd-card-image"
                    />
                    {% endif %}
                    <h3 class="dd-card-title">{{ doc_link.title }}</h3>
                </div>
            </a>
            {% endfor %}
        </div>
        <script src="js/scripts.js"></script>
    </body>
</html>
